<div class="card bg-white  " style="border-radius: 20px; height: 550px;  ">
    <button (click)="handle(movie.id)" style="border: none; border-radius: 20px;">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" style="border-radius: 20px ; "
            class="card-img-top" alt="...">
    </button>
    <div class="card-body bg-white" style="background-color: beige;">
        <h5 class="card-title fw-bold  " style="height: 30px;">{{movie.title}}</h5>
        <div class=" card-footer border-0 row mt-3 bg-white ">
            <span class="col-10 ">{{movie.release_date |date}}</span>
            <div class="col-2 text-end">
                <i [class]=" (isHoverd ? 'fa-solid ' : 'fa-regular ')+'fa-heart fs-2 movie-favorite'"
                    (click)="hoverd()"></i>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center  position-relative">

                @if(movie.vote_average * 10 < 60 && movie.vote_average *10  > 50){
                
                    <div class="progress yellow position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                }
                @else if (movie.vote_average * 10 <= 50 && movie.vote_average *10  > 20) {
                    <div class="progress orange position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                }@else if (movie.vote_average * 10 < 70 && movie.vote_average *10  > 60) {
                    <div class="progress blue position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                }@else if(movie.vote_average * 10 <= 80 && movie.vote_average *10  >= 70) {
                    <div class="progress green position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                      
                }
                @else if(movie.vote_average * 10 <= 100 && movie.vote_average *10  > 80) {
                    <div class="progress black position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                      
                }@else{
                    <div class="progress red position-absolute" style="right: 10px; bottom: 45px;">
                        <span class="progress-left">
                                        <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                                        <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value position-absolute ">
                            <span  class=" fw-bold text-white position-relative"style="right: 0px; bottom: 42px;" >
                                {{floatToIntRound(movie.vote_average *10)}}%</span>
                        </div>
                      </div>
                }
          
        


       
    </div>
   
